In [3]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

E: Package 'python-software-properties' has no installation candidate
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [4]:
!mkdir -p GuodongDrive
!google-drive-ocamlfuse GuodongDrive
import os
os.chdir("GuodongDrive")
os.chdir("ccf/carsale")
!ls

0825ccf_carsale.csv	   ccf_car_sales.csv	  train_sales_data.csv
0825ccf_car_sales_lgb.csv  ccf_car_sales_lgb.csv  train_search_data.csv
baseline1_0825.ipynb	   evaluation_public.csv  train_user_reply_data.csv
baseline1_copy.ipynb	   GuodongDrive		  Untitled0.ipynb
baseline1.ipynb		   submit_example.csv

In [0]:
import numpy as np
import pandas as pd
from tqdm import tqdm, tqdm_notebook
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.metrics import f1_score, roc_auc_score
import datetime
import time
import lightgbm as lgb
import xgboost as xgb

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings('ignore')

In [0]:
def mse(true_label,pre_label):
    squaredError = (true_label - pre_label)*(true_label - pre_label)
    return sum(squaredError) / len(squaredError)

In [0]:
train_sales  = pd.read_csv('train_sales_data.csv')
train_search = pd.read_csv('train_search_data.csv')
train_user   = pd.read_csv('train_user_reply_data.csv')

evaluation_public = pd.read_csv('evaluation_public.csv')
submit_example    = pd.read_csv('submit_example.csv')

In [0]:
m1_12    = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==12), 'salesVolume'].values
m1_11    = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==11), 'salesVolume'].values
m1_10    = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==10), 'salesVolume'].values
m1_09    = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==9) , 'salesVolume'].values
m1_08    = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==8) , 'salesVolume'].values

m1_12_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==12), 'salesVolume'].values * m1_12
m1_11_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==11), 'salesVolume'].values * m1_11
m1_10_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==10), 'salesVolume'].values * m1_10
m1_09_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==9) , 'salesVolume'].values * m1_09
m1_08_volum = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==8) , 'salesVolume'].values * m1_08

evaluation_public.loc[evaluation_public.regMonth==1, 'forecastVolum'] =  m1_12_volum/2 + m1_11_volum/4 + m1_10_volum/8 + m1_09_volum/16 + m1_08_volum/16

In [0]:
m16_1_2  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==2) , 'salesVolume'].values
m16_1_3  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==3) , 'salesVolume'].values
m16_1_4  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==4) , 'salesVolume'].values
m16_1_5  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==5) , 'salesVolume'].values

m16_2_3  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==2) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==3) , 'salesVolume'].values
m16_2_4  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==2) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==4) , 'salesVolume'].values
m16_2_5  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==2) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==5) , 'salesVolume'].values
m16_2_6  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==2) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==6) , 'salesVolume'].values

m16_3_4  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==3) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==4) , 'salesVolume'].values
m16_3_5  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==3) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==5) , 'salesVolume'].values
m16_3_6  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==3) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==6) , 'salesVolume'].values
m16_3_7  = train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==3) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2016)&(train_sales.regMonth==7) , 'salesVolume'].values

m17_1_2  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==2) , 'salesVolume'].values
m17_1_3  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==3) , 'salesVolume'].values
m17_1_4  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==4) , 'salesVolume'].values
m17_1_5  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==5) , 'salesVolume'].values


m17_2_3  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==2) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==3) , 'salesVolume'].values
m17_2_4  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==2) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==4) , 'salesVolume'].values
m17_2_5  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==2) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==5) , 'salesVolume'].values
m17_2_6  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==2) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==6) , 'salesVolume'].values

m17_3_4  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==3) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==4) , 'salesVolume'].values
m17_3_5  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==3) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==5) , 'salesVolume'].values
m17_3_6  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==3) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==6) , 'salesVolume'].values
m17_3_7  = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==3) , 'salesVolume'].values / train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==7) , 'salesVolume'].values

m16_1 = m16_1_2/2 + m16_1_3/4 + m16_1_4/8 + m16_1_5/8
m16_2 = m16_2_3/2 + m16_2_4/4 + m16_2_5/8 + m16_2_6/8
m16_3 = m16_3_4/2 + m16_3_5/4 + m16_3_6/8 + m16_3_7/8

m17_1 = m17_1_2/2 + m17_1_3/4 + m17_1_4/8 + m17_1_5/8
m17_2 = m17_2_3/2 + m17_2_4/4 + m17_2_5/8 + m17_2_6/8
m17_3 = m17_3_4/2 + m17_3_5/4 + m17_3_6/8 + m17_3_7/8

m1 = m16_1 * 0.4 +  m17_1 * 0.6
m2 = m16_2 * 0.4 +  m17_2 * 0.6
m3 = m16_3 * 0.4 +  m17_3 * 0.6

evaluation_public.loc[evaluation_public.regMonth==2, 'forecastVolum'] = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==1) , 'salesVolume'].values / m1
evaluation_public.loc[evaluation_public.regMonth==3, 'forecastVolum'] = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==2) , 'salesVolume'].values / m2
evaluation_public.loc[evaluation_public.regMonth==4, 'forecastVolum'] = train_sales.loc[(train_sales.regYear==2017)&(train_sales.regMonth==3) , 'salesVolume'].values / m3

In [0]:
print(train_sales.loc[(train_sales.regMonth<=4) ,'salesVolume'].mean())
print(evaluation_public['forecastVolum'].mean())
evaluation_public[['id','forecastVolum']].round().astype(int).to_csv('ccf_car_sales.csv', index=False)

524.1121212121212
477.4628274411716

In [10]:
data = pd.concat([train_sales, evaluation_public], ignore_index=True)
data = data.merge(train_search, 'left', on=['province', 'adcode', 'model', 'regYear', 'regMonth'])
data = data.merge(train_user, 'left', on=['model', 'regYear', 'regMonth'])
data['label'] = data['salesVolume']
data['id'] = data['id'].fillna(0).astype(int)
del data['salesVolume'], data['forecastVolum']
data.head(5)

   adcode bodyType  id  ... carCommentVolum newsReplyVolum  label
0  310000      SUV   0  ...            11.0          106.0  292.0
1  530000      SUV   0  ...            11.0          106.0  466.0
2  150000      SUV   0  ...            11.0          106.0  257.0
3  110000      SUV   0  ...            11.0          106.0  408.0
4  510000      SUV   0  ...            11.0          106.0  610.0

[5 rows x 11 columns]

In [11]:
data['bodyType'] = pd.Categorical(data.bodyType).codes
data['province'] = pd.Categorical(data.province).codes
data['model'] = pd.Categorical(data.model).codes
data.head(3)

   adcode  bodyType  id  ...  carCommentVolum  newsReplyVolum  label
0  310000         2   0  ...             11.0           106.0  292.0
1  530000         2   0  ...             11.0           106.0  466.0
2  150000         2   0  ...             11.0           106.0  257.0

[3 rows x 11 columns]

In [12]:
num_feat = ['adcode', 'regMonth', 'regYear', 'popularity', 'carCommentVolum', 'newsReplyVolum']
cate_feat = ['bodyType', 'model', 'province']
features = num_feat+cate_feat
test_index = (data['label'].isnull()) | (data['label'] == -1)
train_data = data[~test_index].reset_index(drop=True)
test_data = data[test_index]

train_y = train_data['label']

train_x = train_data.drop(['label'],axis = 1)
train_x.head(5)

   adcode  bodyType  id  ...  popularity  carCommentVolum  newsReplyVolum
0  310000         2   0  ...      1479.0             11.0           106.0
1  530000         2   0  ...      1594.0             11.0           106.0
2  150000         2   0  ...      1479.0             11.0           106.0
3  110000         2   0  ...      2370.0             11.0           106.0
4  510000         2   0  ...      3562.0             11.0           106.0

[5 rows x 10 columns]

In [15]:
train_x = train_data.drop(['id'],axis = 1)
train_x.head(5)

   adcode  bodyType  model  ...  carCommentVolum  newsReplyVolum  label
0  310000         2     13  ...             11.0           106.0  292.0
1  530000         2     13  ...             11.0           106.0  466.0
2  150000         2     13  ...             11.0           106.0  257.0
3  110000         2     13  ...             11.0           106.0  408.0
4  510000         2     13  ...             11.0           106.0  610.0

[5 rows x 10 columns]

In [16]:
train_x = train_data.drop(['label'],axis = 1)
train_x.head(5)

   adcode  bodyType  id  ...  popularity  carCommentVolum  newsReplyVolum
0  310000         2   0  ...      1479.0             11.0           106.0
1  530000         2   0  ...      1594.0             11.0           106.0
2  150000         2   0  ...      1479.0             11.0           106.0
3  110000         2   0  ...      2370.0             11.0           106.0
4  510000         2   0  ...      3562.0             11.0           106.0

[5 rows x 10 columns]

In [19]:
train_x = train_data.drop(['id','label'],axis = 1)
train_x.head(5)

   adcode  bodyType  model  ...  popularity  carCommentVolum  newsReplyVolum
0  310000         2     13  ...      1479.0             11.0           106.0
1  530000         2     13  ...      1594.0             11.0           106.0
2  150000         2     13  ...      1479.0             11.0           106.0
3  110000         2     13  ...      2370.0             11.0           106.0
4  510000         2     13  ...      3562.0             11.0           106.0

[5 rows x 9 columns]

In [13]:
test_data=test_data.drop(columns=["label","id"],axis = 1)
test_data

       adcode  bodyType  model  ...  popularity  carCommentVolum  newsReplyVolum
31680  310000        -1     13  ...         NaN              NaN             NaN
31681  530000        -1     13  ...         NaN              NaN             NaN
31682  150000        -1     13  ...         NaN              NaN             NaN
31683  110000        -1     13  ...         NaN              NaN             NaN
31684  510000        -1     13  ...         NaN              NaN             NaN
31685  340000        -1     13  ...         NaN              NaN             NaN
31686  370000        -1     13  ...         NaN              NaN             NaN
31687  140000        -1     13  ...         NaN              NaN             NaN
31688  440000        -1     13  ...         NaN              NaN             NaN
31689  450000        -1     13  ...         NaN              NaN             NaN
31690  320000        -1     13  ...         NaN              NaN             NaN
31691  360000        -1     13  ...         NaN              NaN             NaN
31692  130000        -1     13  ...         NaN              NaN             NaN
31693  410000        -1     13  ...         NaN              NaN             NaN
31694  330000        -1     13  ...         NaN              NaN             NaN
31695  420000        -1     13  ...         NaN              NaN             NaN
31696  430000        -1     13  ...         NaN              NaN             NaN
31697  350000        -1     13  ...         NaN              NaN             NaN
31698  210000        -1     13  ...         NaN              NaN             NaN
31699  500000        -1     13  ...         NaN              NaN             NaN
31700  610000        -1     13  ...         NaN              NaN             NaN
31701  230000        -1     13  ...         NaN              NaN             NaN
31702  310000        -1     14  ...         NaN              NaN             NaN
31703  530000        -1     14  ...         NaN              NaN             NaN
31704  150000        -1     14  ...         NaN              NaN             NaN
31705  110000        -1     14  ...         NaN              NaN             NaN
31706  510000        -1     14  ...         NaN              NaN             NaN
31707  340000        -1     14  ...         NaN              NaN             NaN
31708  370000        -1     14  ...         NaN              NaN             NaN
31709  140000        -1     14  ...         NaN              NaN             NaN
...       ...       ...    ...  ...         ...              ...             ...
36930  330000        -1     45  ...         NaN              NaN             NaN
36931  420000        -1     45  ...         NaN              NaN             NaN
36932  430000        -1     45  ...         NaN              NaN             NaN
36933  350000        -1     45  ...         NaN              NaN             NaN
36934  210000        -1     45  ...         NaN              NaN             NaN
36935  500000        -1     45  ...         NaN              NaN             NaN
36936  610000        -1     45  ...         NaN              NaN             NaN
36937  230000        -1     45  ...         NaN              NaN             NaN
36938  310000        -1     38  ...         NaN              NaN             NaN
36939  530000        -1     38  ...         NaN              NaN             NaN
36940  150000        -1     38  ...         NaN              NaN             NaN
36941  110000        -1     38  ...         NaN              NaN             NaN
36942  510000        -1     38  ...         NaN              NaN             NaN
36943  340000        -1     38  ...         NaN              NaN             NaN
36944  370000        -1     38  ...         NaN              NaN             NaN
36945  140000        -1     38  ...         NaN              NaN             NaN
36946  440000        -1     38  ...         NaN              NaN             NaN
36947  450000        -1     38  ...         NaN              NaN             NaN
36948  320000        -1     38  ...         NaN              NaN             NaN
36949  360000        -1     38  ...         NaN              NaN             NaN
36950  130000        -1     38  ...         NaN              NaN             NaN
36951  410000        -1     38  ...         NaN              NaN             NaN
36952  330000        -1     38  ...         NaN              NaN             NaN
36953  420000        -1     38  ...         NaN              NaN             NaN
36954  430000        -1     38  ...         NaN              NaN             NaN
36955  350000        -1     38  ...         NaN              NaN             NaN
36956  210000        -1     38  ...         NaN              NaN             NaN
36957  500000        -1     38  ...         NaN              NaN             NaN
36958  610000        -1     38  ...         NaN              NaN             NaN
36959  230000        -1     38  ...         NaN              NaN             NaN

[5280 rows x 9 columns]

In [42]:
model = xgb.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=0.7, colsample_bytree=0.7, gamma=0.1,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1.1, missing=None, n_estimators=1000,
             n_jobs=-1, objective='reg:squarederror', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=True, subsample=0.7, verbosity=1)
model.fit(train_x, train_y,eval_metric='mae', verbose=True)
pred = model.predict(test_data)
pred

array([ -94.20204 ,  467.7538  ,  -71.35088 , ..., -259.83432 ,
        -19.06993 ,   55.054577], dtype=float32)

In [0]:
# dataset1 = xgb.DMatrix(train_x,label=train_y)


# params={'booster':'gbtree',
# 	    'objective': 'reg:linear',
# 	    'eval_metric':'mae',
# 	    'gamma':0.1,
# 	    'min_child_weight':1.1,
# 	    'max_depth':5,
# 	    'lambda':10,
# 	    'subsample':0.7,
# 	    'colsample_bytree':0.7,
# 	    'colsample_bylevel':0.7,
# 	    'eta': 0.01,
# 	    'tree_method':'exact',
# 	    'seed':0,
# 	    'nthread':12
# 	    }

#dataset
##########################################
#train on dataset1, evaluate on dataset2
#watchlist = [(dataset1,'train'),(dataset2,'val')]

#model = xgb.train(params,dataset1,num_boost_round=3500,evals='rmse',early_stopping_rounds=300)

TypeError: ignored

In [0]:
#periods = pd.PeriodIndex(year=data["regYear"], month=data["regMonth"])
data['date'] = (np.array(data.regYear.astype(str),dtype='datetime64[Y]') 
 + np.array(data.regMonth-1,dtype='timedelta64[M]'))
data

       adcode bodyType    id  ... newsReplyVolum   label       date
0      310000      SUV     0  ...          106.0   292.0 2016-01-01
1      530000      SUV     0  ...          106.0   466.0 2016-01-01
2      150000      SUV     0  ...          106.0   257.0 2016-01-01
3      110000      SUV     0  ...          106.0   408.0 2016-01-01
4      510000      SUV     0  ...          106.0   610.0 2016-01-01
5      340000      SUV     0  ...          106.0   206.0 2016-01-01
6      370000      SUV     0  ...          106.0   503.0 2016-01-01
7      140000      SUV     0  ...          106.0   236.0 2016-01-01
8      440000      SUV     0  ...          106.0  3635.0 2016-01-01
9      450000      SUV     0  ...          106.0   450.0 2016-01-01
10     320000      SUV     0  ...          106.0   876.0 2016-01-01
11     360000      SUV     0  ...          106.0   253.0 2016-01-01
12     130000      SUV     0  ...          106.0   306.0 2016-01-01
13     410000      SUV     0  ...          106.0   537.0 2016-01-01
14     330000      SUV     0  ...          106.0   650.0 2016-01-01
15     420000      SUV     0  ...          106.0   635.0 2016-01-01
16     430000      SUV     0  ...          106.0   525.0 2016-01-01
17     350000      SUV     0  ...          106.0   462.0 2016-01-01
18     210000      SUV     0  ...          106.0   791.0 2016-01-01
19     500000      SUV     0  ...          106.0   195.0 2016-01-01
20     610000      SUV     0  ...          106.0   298.0 2016-01-01
21     230000      SUV     0  ...          106.0   309.0 2016-01-01
22     310000    Sedan     0  ...         3996.0   389.0 2016-01-01
23     530000    Sedan     0  ...         3996.0   306.0 2016-01-01
24     150000    Sedan     0  ...         3996.0   260.0 2016-01-01
25     110000    Sedan     0  ...         3996.0   449.0 2016-01-01
26     510000    Sedan     0  ...         3996.0   757.0 2016-01-01
27     340000    Sedan     0  ...         3996.0   275.0 2016-01-01
28     370000    Sedan     0  ...         3996.0   890.0 2016-01-01
29     140000    Sedan     0  ...         3996.0   387.0 2016-01-01
...       ...      ...   ...  ...            ...     ...        ...
36930  330000      NaN  5339  ...            NaN     NaN 2018-04-01
36931  420000      NaN  5340  ...            NaN     NaN 2018-04-01
36932  430000      NaN  5341  ...            NaN     NaN 2018-04-01
36933  350000      NaN  5342  ...            NaN     NaN 2018-04-01
36934  210000      NaN  5343  ...            NaN     NaN 2018-04-01
36935  500000      NaN  5344  ...            NaN     NaN 2018-04-01
36936  610000      NaN  5345  ...            NaN     NaN 2018-04-01
36937  230000      NaN  5346  ...            NaN     NaN 2018-04-01
36938  310000      NaN  5347  ...            NaN     NaN 2018-04-01
36939  530000      NaN  5348  ...            NaN     NaN 2018-04-01
36940  150000      NaN  5349  ...            NaN     NaN 2018-04-01
36941  110000      NaN  5350  ...            NaN     NaN 2018-04-01
36942  510000      NaN  5351  ...            NaN     NaN 2018-04-01
36943  340000      NaN  5352  ...            NaN     NaN 2018-04-01
36944  370000      NaN  5353  ...            NaN     NaN 2018-04-01
36945  140000      NaN  5354  ...            NaN     NaN 2018-04-01
36946  440000      NaN  5355  ...            NaN     NaN 2018-04-01
36947  450000      NaN  5356  ...            NaN     NaN 2018-04-01
36948  320000      NaN  5357  ...            NaN     NaN 2018-04-01
36949  360000      NaN  5358  ...            NaN     NaN 2018-04-01
36950  130000      NaN  5359  ...            NaN     NaN 2018-04-01
36951  410000      NaN  5360  ...            NaN     NaN 2018-04-01
36952  330000      NaN  5361  ...            NaN     NaN 2018-04-01
36953  420000      NaN  5362  ...            NaN     NaN 2018-04-01
36954  430000      NaN  5363  ...            NaN     NaN 2018-04-01
36955  350000      NaN  5364  ...            NaN     NaN 2018-04-01
36956  210000      NaN  5365  ...            NaN     NaN 2018-04-01
36957  500000      NaN  5366  ...            NaN     NaN 2018-04-01
36958  610000      NaN  5367  ...            NaN     NaN 2018-04-01
36959  230000      NaN  5368  ...            NaN     NaN 2018-04-01

[36960 rows x 12 columns]

In [43]:
newdata=pd.get_dummies(data,columns=["adcode","bodyType","province","model"],dummy_na=True)
newdata.head(5)

   id  regMonth  regYear  ...  model_58.0  model_59.0  model_nan
0   0         1     2016  ...           0           0          0
1   0         1     2016  ...           0           0          0
2   0         1     2016  ...           0           0          0
3   0         1     2016  ...           0           0          0
4   0         1     2016  ...           0           0          0

[5 rows x 120 columns]

In [0]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
enc = OneHotEncoder()
label_enc = LabelEncoder()

In [0]:
num_feat = ['adcode', 'regMonth', 'regYear', 'popularity', 'carCommentVolum', 'newsReplyVolum']
cate_feat = ['bodyType', 'model', 'province']

for i in cate_feat:
    data[i] = data[i].astype('category')
features = num_feat + cate_feat

In [0]:
def get_predict_w(model, data, label='label', feature=[], cate_feature=[], random_state=2018, n_splits=5,
                  model_type='lgb'):
    if 'sample_weight' not in data.keys():
        data['sample_weight'] = 1
    model.random_state = random_state
    predict_label = 'predict_' + label
    kfold = KFold(n_splits=n_splits, shuffle=True, random_state=random_state)
    data[predict_label] = 0
    test_index = (data[label].isnull()) | (data[label] == -1)
    train_data = data[~test_index].reset_index(drop=True)
    test_data = data[test_index]

    for train_idx, val_idx in kfold.split(train_data):
        
        train_x = train_data.loc[train_idx][feature]
        train_y = train_data.loc[train_idx][label]

        test_x = train_data.loc[val_idx][feature]
        test_y = train_data.loc[val_idx][label]
        if model_type == 'lgb':
            try:
                model.fit(train_x, train_y, eval_set=[(test_x, test_y)], early_stopping_rounds=200,
                          eval_metric='mae',
                          # callbacks=[lgb.reset_parameter(learning_rate=lambda iter: max(0.005, 0.5 * (0.99 ** iter)))],
                          categorical_feature=cate_feature,
                          sample_weight=train_data.loc[train_idx]['sample_weight'],
                          verbose=100)
            except:
                model.fit(train_x, train_y, eval_set=[(test_x, test_y)], early_stopping_rounds=100,
                          eval_metric='mae',
                          # callbacks=[lgb.reset_parameter(learning_rate=lambda iter: max(0.005, 0.5 * (0.99 ** iter)))],
                          # categorical_feature=cate_feature,
                          sample_weight=train_data.loc[train_idx]['sample_weight'],
                          verbose=100)
        elif model_type == 'ctb':
            model.fit(train_x, train_y, eval_set=[(test_x, test_y)], early_stopping_rounds=100,
                      # eval_metric='mae',
                      # callbacks=[lgb.reset_parameter(learning_rate=lambda iter: max(0.005, 0.5 * (0.99 ** iter)))],
                      cat_features=cate_feature,
                      sample_weight=train_data.loc[train_idx]['sample_weight'],
                      verbose=100)
        train_data.loc[val_idx, predict_label] = model.predict(test_x)
        if len(test_data) != 0:
            test_data[predict_label] = test_data[predict_label] + model.predict(test_data[feature])
    test_data[predict_label] = test_data[predict_label] / n_splits
    #print(mse(train_data[label], train_data[predict_label]))
    print(mse(train_data[label], train_data[predict_label]) * 5, train_data[predict_label].mean(),
          test_data[predict_label].mean())

    return pd.concat([train_data, test_data], sort=True, ignore_index=True), predict_label

In [0]:
lgb_model = lgb.LGBMRegressor(
    num_leaves=64, reg_alpha=0., reg_lambda=2, objective='mse', metric='mae',
    max_depth=-1, learning_rate=0.07, min_child_samples=20,
    n_estimators=5000, subsample=0.7, colsample_bytree=0.7, subsample_freq=1,
)
data, predict_label = get_predict_w(lgb_model, data, label='label',
                                    feature=features, cate_feature=cate_feat,
                                    random_state=2019, n_splits=5)

data['lgb'] = data[predict_label]

data['forecastVolum'] = data['lgb'].apply(lambda x: 0 if x < 0 else x)
data[data.label.isnull()][['id', 'forecastVolum']].round().astype(int).to_csv('082502ccf_carsale.csv', index=False)

NameError: ignored